.login_cen {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logi {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
}
.login__logo {
    height: 32px;
    width: auto;
    margin-top: 100px;
    text-align: center;
}

.login_wc{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.login_wc > h4 {
    font-size: 30px;
    line-height: 36px;
    font-family: Helvetica,sans-serif;
    margin-bottom: 36px;
    margin-top: 70px;
}

.login__container {
    display: flex !important;
    align-items: left;
    flex-direction: column;
}
.login__container > p {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-bottom: 8px !important;
    font-weight: inherit !important;
}
.login__container > form {
    display:flex !important;
    flex-direction:column !important;
}

.login__container > form > input {
    font-size: 16px !important;
    line-height: 24px !important;
    height: 48px !important;
    padding-left: 10px;
    border: 1px solid #E0E0E0 !important;
    margin-bottom: 16px;
}

.login__button {
    font-size: 16px !important;
    line-height: 24px !important;
    height: 48px !important;
    background-color: #3e9920;
    border: 1px solid #3e9920 !important;
    color: white;
    font-weight: 500;
}

.login__text{
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.login__create{
    color: #3e9920;
    margin-left: 2px;
}

.login_ul{
    text-decoration: none;
}