
.row {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-content: center;
}
.update__logo {
    height: 32px;
    width: auto;
    margin-top: 100px;
    text-align: center;
}
.form-data> label {
    
    text-align: right;
    width: 400px;
    line-height: 28px;
    outline: none;
    margin-bottom: 10px;
    color: #2b2e4a;
  } 
  
  .form-data > label > input:not([type=checkbox]) {
    height: 25px;
    flex: 0 0 200px;
    font-size: 13px;
    padding: 10px;
    color: #2b2e4a;
    outline: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #bdc3c7;
    border-left: 0;
    transition: border-bottom-color .15s ease-in;
    font: 100% / 1.414 sans-serif;
    font-family: Helvetica,sans-serif;
    position: relative;
  }
  
  .update-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 400px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 2px; 
    cursor: pointer;
    background-color: #3e9920;
    border: 1px solid #3e9920 !important;
    color: white;
    font-weight: 500;
    
   }
  
/* .register_wc{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.register_wc > h4 {
    font-size: 30px;
    line-height: 36px;
    font-family: Helvetica,sans-serif;
    margin-bottom: 36px;
    margin-top: 70px;
}
 */
