.centerbox{
    display: flex;
    flex-direction: column;
    flex: 0.33;
    margin-left: 0%;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 24px;
}


.centerbox > img {
    width: 100%;
    margin-bottom: 8px;
}


.centerbox > h2{
       font-weight: normal;
       line-height: 36px;
       font-size: 28px;
       text-transform: capitalize;
}

.centerbox > h3{
    margin-top: 8px;
    text-decoration: underline;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    font-weight: normal;
}
.custom-link {
    /* Add your custom styles for the link here */
    /* This will override the default link styling */
    text-decoration: none;
    color: inherit;
  }